body {
    box-sizing: border-box;
    background-image: url('snowing.gif');
    font-family: "DejaVu Sans Mono", monospace;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 3px;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    table-layout: fixed;
    width: 50%;
}

.physics {
    background-color: lightblue;
}

.online {
    background-color: lightgreen;
}

.lunch {
    background-color: lightgoldenrodyellow;
}

.networks {
    background-color: lightsalmon;
}

.speaking {
    background-color: rgb(235, 95, 95);
}

.skiing {
    background-color: aquamarine;
}

.right {
    float: right;
}

.center {
    margin: auto;
    width: 90%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}